.card {
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px lightgrey;
}

.fonctionnement__info__card {
    height: 50px;
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 10px;
    max-width: 260px;
    .vignette {
        color: white;
        background-color: $primary-color;
        border-radius: 50px;
        width: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: -10px;
    }
    p {
        margin-right: 10%;
    }
    @media screen and (min-width: 1200px) {
        max-width: 280px;        
    }
    @media screen and (min-width: 1300px) {
        max-width: 300px;        
    }
}

.restaurant__card {
    background-color: white;
    position: relative;
    padding-bottom: 10px;
    height: 250px;
    width: 300px;
    img {
        max-width: inherit;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        max-height: 180px;
        width: 100%;
    }
    .card__title {
        line-height: 5px;
    }
    .box {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: $tertiary-color;
        color: #008766;
    }
    @media screen and (min-width: 1024px) {
        max-width: 400px;
        width: 100%;
        margin-bottom: 5%;
    }
    @media screen and (min-width: 1300px) {
        max-width: 480px;
    }
}
.card_hearts {
    position: relative;
    .fa-heart {
        position: absolute;
    }
    .fa-solid{
        background-clip: text;
        transition: opacity, 0.5s;
        opacity: 0;
        background-image: linear-gradient(to top, $secondary-color, $primary-color);
        color: transparent;
    }
    .fa-solid:hover, .fa-solid:active {
        opacity: 1;
    }
}
.restaurant__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -30px;
    margin-right: -20px;
}

.menu_card {
    background-color: white;
    padding: 10px;
    min-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 50px;
    @media screen and (min-width: 767px) {
        max-width: none;
        width: 600px;
        height: 60px;
    }
    h3 {
        margin: 0;
        font-size: inherit;
        @media screen and (min-width: 1024px) {
            margin-top: 1%;
        }
    }
    div {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }
    .sous_titre {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
    }
    .prix {
        transition: transform 500ms;
    }
    &:hover > button,
    &:hover > div .prix {
        transform: translateX(-65px);
        opacity: 1;
    }
    &:active > button,
    &:active > div .prix {
        transform: translateX(-57px);
    }
    &:hover > div .sous_titre, &:hover h3 {
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       width: 70%;
    }
}