@keyframes fade-in-sections {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
h1, h2 {
  font-family: "Shrikhand";
}

body {
  font-family: "Roboto";
}

header .intro {
  background-color: #F3F3F3;
  padding: 35px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .intro p {
  text-align: center;
}
header h1 {
  text-align: center;
}
header h2 {
  font-family: "Roboto";
  margin: auto 20px;
  text-align: center;
}
header .hero_header {
  width: 100%;
  position: absolute;
  margin-top: -20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  header .hero_header {
    max-height: 300px;
  }
}
header a {
  position: absolute;
  left: 20px;
  top: 35px;
  color: black;
}

header span {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  height: 40px;
  align-items: center;
}

body {
  margin: 0;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
}
footer h3 {
  color: white;
  font-family: "Shrikhand";
}
@media screen and (min-width: 1024px) {
  footer h3 {
    margin-left: 15%;
    margin-right: 2%;
  }
}
footer nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
footer nav a {
  text-decoration: none;
  line-height: 25px;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer nav a {
    margin: 10px;
  }
}
@media screen and (min-width: 1024px) {
  footer nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

.btn {
  border-radius: 20px;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  max-width: 200px;
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: 0px 2px 10px grey;
  cursor: pointer;
  transition: opacity 0.5s, box-shadow 0.5s;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px grey;
}

#fonctionnement {
  margin-bottom: 40px;
}
#fonctionnement h2 {
  margin-left: 3%;
}

.fonctionnement__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement__info i {
  color: lightgray;
}
.fonctionnement__info :nth-child(3) i {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__info {
    flex-direction: row;
    justify-content: space-around;
  }
}

#restaurants {
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 30px;
}
#restaurants h2 {
  margin-left: 3%;
}

.restaurants__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__list a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 1024px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 5%;
  }
}

.menu {
  background: #f6f6f6;
  padding-top: 30px;
  margin-top: 200px;
  z-index: 50;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 80%;
    margin-left: 10%;
  }
}
.menu .menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  width: 80%;
}
.menu .menu_section_title {
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 10px;
  width: 10%;
}
@media screen and (min-width: 1023px) {
  .menu .menu_section_title {
    width: 6%;
  }
}
.menu .menu_card {
  background-color: white;
  padding: 1px;
  line-height: 1px;
  min-width: 300px;
  text-overflow: ellipsis;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .menu .menu_card {
    max-width: none;
    width: 600px;
  }
}
.menu .menu_card h3 {
  margin: 5% 0% 0% 2%;
  font-size: inherit;
}
.menu .menu_card span {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.menu .menu_card span p {
  font-size: small;
}
.menu .menu .btn {
  margin-top: 10px;
}

#entrees,
#plats,
#desserts {
  animation: fade-in-sections 800ms;
}

#plats {
  animation-delay: 500ms;
}

#desserts {
  animation-delay: 1000ms;
}

.card {
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px lightgrey;
}

.fonctionnement__info__card {
  height: 50px;
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.fonctionnement__info__card .vignette {
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
  width: 20px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -10px;
}
.fonctionnement__info__card p {
  margin-right: 10%;
}

.restaurant__card {
  background-color: white;
  position: relative;
  padding-bottom: 10px;
  height: 275px;
  width: 300px;
  /*.fa-regular {
      content: "../images_et_textes/images/heart-solid.png";
      background-clip: white;
      transition: background-clip, 0.5S;
  }
  .fa-regular:active {
      background-clip: $primary-color;
  }*/
}
.restaurant__card img {
  max-width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 200px;
  width: 100%;
}
.restaurant__card .card__title {
  line-height: 5px;
}
.restaurant__card .box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
}
.restaurant__card .fa-solid {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .restaurant__card {
    max-width: 400px;
    width: 100%;
  }
}

.restaurant__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -30px;
  margin-right: -20px;
}/*# sourceMappingURL=menus.css.map */